@using Multas.Models;
@using Multas.Shared.Services;

@inject IComparendoService ComparendoService;

@page "/Comparendos"

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Comparendos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <a href="/Comparendos/Add" class="btn btn-primary pull-right">Nuevo</a>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <form asp-action="Index" method="get">
                            <div class="card-header" style="background-color:#0080ff">
                                <h2 class="card-title"></h2>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 350px;">
                                        <input type="text" id="buscarnit" name="searchString" class="form-control float-right" @bind="buscarnit"
                                               placeholder="Buscar" />
                                        <div class="input-group-append">
                                            <button @onclick="findbycedula" class="bg-white border-0 h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="primary" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        

                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Comparendo</th>
                                        <th>Fecha</th>
                                        <th>Cedula</th>
                                        <th>Infraccion</th>
                                        <th>Valor</th>
                                        <td align="center"><b>Acciones</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (comparendos != null)
                                    {
                                        @foreach (var comparendos in comparendos)
                                        {

                                            <tr>
                                                <td>@comparendos.id</td>
                                                <td>@comparendos.comparendo</td>
                                                <td>@comparendos.fecha.Date.ToString("dd-MM-yyyy")</td>
                                                <td>@comparendos.cedula</td>
                                                <td>@comparendos.infraccion</td>
                                                <td>@comparendos.valor</td>
                                                <td align="center">
                                                    <form method="post">
                                                        <a class="btn btn-primary" asp-page="/comparendos/Edit"
                                                            asp-route-id="@comparendos.id">Editar</a> |
                                                        <button type="submit" class="btn btn-danger" asp-page-handler="Delete"
                                                            asp-route-id="@comparendos.id"
                                                            onclick="return confirm('¿Estás seguto de eliminar este comparendo  @comparendos.comparendo ?');">Eliminar</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No hay comparendos actualmente.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@code {
    private string buscarnit;

    private Comparendos comparendosobj = new Comparendos();

    private List<Comparendos> comparendos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        comparendos = (await ComparendoService.GetAll()).ToList();
    }


   
    private async Task findbycedula()
    {
        Console.WriteLine($"Valor de buscarnit: {buscarnit}");
        var comparendosList = await ComparendoService.GetComparendosByCedula(buscarnit);

        if (comparendosList != null && comparendosList.Count > 0)
        {
            Console.WriteLine($"comparendosobj se ha establecido correctamente: {comparendosList.Count} resultados");

            foreach (var comparendo in comparendosList)
            {
                Console.WriteLine($"ID: {comparendo.id}");
                Console.WriteLine($"Comparendo: {comparendo.comparendo}");
                Console.WriteLine($"Fecha: {comparendo.fecha.Date.ToString("dd-MM-yyyy")}");
                Console.WriteLine($"Cedula: {comparendo.cedula}");
                Console.WriteLine($"Infraccion: {comparendo.infraccion}");
                Console.WriteLine($"Valor: {comparendo.valor}");
            }

            comparendos = comparendosList;
        }
        else
        {
            comparendos = new List<Comparendos>(); // Limpia la lista de comparendos si no se encontraron resultados
            Console.WriteLine("No se encontraron resultados.");
        }
    }


}