@page "/Comparendos"

@using Multas.Models;
@using Multas.Shared.Services;

@inject IComparendoService ComparendoService;

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11">
                    <h1>Comparendos</h1>
                </div>
                <div class="col-sm-1">
                    <ol class="breadcrumb float-sm-right">
                        <a href="/Comparendos/Add" class="btn btn-primary pull-right">Nuevo</a>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <form asp-action="Index" method="get">
                            <div class="card-header" style="background-color: #112366">
                                
                              
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 ms-0">
                                            <h5 class="text-white">Sanción de comparendos</h5>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group input-group-sm" style="width: 350px;">
                                                <input type="text" id="buscarnit" name="searchString" class="form-control float-right mb-2" @bind="buscarnit"
                                                       placeholder="Buscar" />
                                                <div class="input-group-append mb-2">
                                                    <button @onclick="findbycedula" class="bg-white border-0 h-100">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="primary" class="bi bi-search" viewBox="0 0 16 16">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Comparendo</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Cedula</th>
                                            <th>Infraccion</th>
                                            <th>Valor</th>
                                            <td align="center"><b>Acciones</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (comparendos != null)
                                        {
                                            @foreach (var comparendo in comparendos)
                                            {
                                                <tr>
                                                    <td>@comparendo.id</td>
                                                    <td>@comparendo.comparendo</td>
                                                    <td>@comparendo.fecha</td>
                                                    <td>@comparendo.hora</td>
                                                    <td>@comparendo.cedula</td>
                                                    <td>@comparendo.infraccion</td>
                                                    <td>@comparendo.valor</td>
                                                    <td align="center">
                                                        <form method="post">
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#detalleModal" @onclick="() => VerDetalle(comparendo.id)">
                                                            Ver
                                                        </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7">No hay comparendos actualmente.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal" id="detalleModal"  tabindex="-1" style="display: @(mostrarModal ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido del modal con los detalles del comparendo -->
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Comparendo</h5>
                <button type="button" class="close" @onclick="CerrarModal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Mostrar detalles del comparendo aquí -->
                <p>ID: @comparendosobj.id</p>
                <p>Comparendo: @comparendosobj.comparendo</p>
                <!-- Otros detalles... -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@code {
    private bool mostrarModal = false;
    private string buscarnit;
    private Comparendos comparendosobj = new Comparendos();
    private List<Comparendos> comparendos { get; set; }


    protected override async Task OnInitializedAsync()
    {
        const int cantidadInicial = 5; 

        var todosLosComparendos = await ComparendoService.GetAll();

        if (todosLosComparendos != null && todosLosComparendos.Any())
        {
            comparendos = todosLosComparendos.Take(cantidadInicial).ToList();
        }
    }

    private async Task findbycedula()
    {
        Console.WriteLine($"Valor de buscarnit: {buscarnit}");
        var comparendosList = await ComparendoService.GetComparendosByCedula(buscarnit);
        if (comparendosList != null && comparendosList.Count > 0)
        {
            Console.WriteLine($"comparendosobj se ha establecido correctamente: {comparendosList.Count} resultados");

            foreach (var comparendo in comparendosList)
            {
                Console.WriteLine($"ID: {comparendo.id}");
                Console.WriteLine($"Comparendo: {comparendo.comparendo}");
                Console.WriteLine($"Fecha:{comparendo.fecha}");
                Console.WriteLine($"Valor=>{comparendo.valor}");
            }
            comparendos = comparendosList;
        }
        else
        {
            comparendos = new List<Comparendos>(); 
            Console.WriteLine("No se encontraron resultados.");
        }
    }


    private async Task VerDetalle(int comparendoId)
    {
        try
        {
            comparendosobj = await ComparendoService.GetMultasById(comparendoId);
            mostrarModal = true;
        }
        catch (Exception ex)
        {
            // Manejar el error de manera adecuada (puedes usar logs o notificaciones)
            Console.WriteLine($"Error al cargar detalles del comparendo: {ex.Message}");
        }
    }
    private void CerrarModal()
    {
        mostrarModal = false;
    }
}
